.card {
  border: 2px solid lightgray;
  border-radius: 10px;
}

.card-body {
  padding: 1.5rem;
}

.styled-hr {
  border: 0;
  height: 3px;
  background: gray;
  margin: 1.2rem 0;
}

.btn[disabled] {
  cursor: not-allowed;
  background-color: #d6d6d6;
  color: #999999;
  border-color: #cccccc;
}